.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  inline-size: 40px;
  block-size: 40px;
  left: -2%;
  background-color: #ebebeb;
}

.slides .slick-next {
  inline-size: 40px;
  block-size: 40px;
  right: -2%;
  background-color: #ebebeb;
}

.slides {
  inline-size: 100%;
  max-inline-size: 1200px;
  margin: 0 auto;
}
// .slick-slide > div > div {
//   background-color: #fff;
//   display: flex !important;
//   justify-content: center !important;
//   border: solid 10px #ebebeb;
//   padding: 10px 0;
// }
